<!-- <h1>{{ title}}</h1>

<h2>{{ nombre }}</h2> -->



<!-- <app-contador></app-contador>
<app-botones></app-botones>
<app-imagenes></app-imagenes>
<app-carrusel></app-carrusel>
<app-formulario></app-formulario> -->
<!-- <app-bucles></app-bucles> -->
<!-- <app-switch></app-switch> -->
<!-- <app-formulario2></app-formulario2> -->
<!-- 
<app-calculadora></app-calculadora>


<app-imagen></app-imagen>

<app-libros></app-libros> -->

<!-- <app-formulario3></app-formulario3> -->

<app-peliculas></app-peliculas>