<hr>
<div>
    <button class="btn btn-warning mx-2 my-2" (click)="src='https://images.pexels.com/photos/618833/pexels-photo-618833.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1'">
        atras
    </button>
    <button class="btn btn-secondary mx-2 my-2" (click)="src='https://images.pexels.com/photos/933054/pexels-photo-933054.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1'">
        principal
    </button>
    <button class="btn btn-secondary" (click)="src='https://images.pexels.com/photos/9754/mountains-clouds-forest-fog.jpg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1'">
        siguiente
    </button>


</div>
<img [src]="src" alt="">