<hr>
<div>

    <input type="text" placeholder="Escriba su nombre" class="form-control" #nombre>

    



    <button class="btn btn-success mt-2" (click)="mostrar_en_consola(nombre.value)">Mostrar en consola</button>

    <div class="alert alert-primary mt-4" *ngIf="abrirAlerta; else mensaje">
        <p>se ha enviado el mensaje</p>
        <button class="btn btn-danger" (click)="abrirAlerta=false"> x </button>
    </div>

    <ng-template #mensaje>
        <div class="alert alert-danger mt-4">
            Mensaje de prueba
        </div>
    </ng-template>

</div>
